@font-face {
    font-family: "main-font";
    src: url("/src/font/TakeLooks.woff") format("woff"),
        url("/src/font/TakeLooks.woff2") format("woff2");
    ;
}

* {
    margin: 0;
    font-family: "main-font";
    font-weight: 100;
    color: white;

}
#pop-up{
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
#pop-up-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid rgb(28, 98, 131);
    border-radius: 10px;
    width: 30%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#pop-up-content button{
    color: black;
}    

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

#root {
    padding: 25px;
    background-color: #001040;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.card:hover {
    box-shadow: 1px 1px 5px 5px #5878a0;
}

.card {
    /* border: 5px solid black; */
    border-radius: 30px;
    background-color: #083870;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 250px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;

}